USE [music-database]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 3/30/2022 4:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[artist_id] [int] NULL,
	[cat_id] [int] NULL,
	[thumbnail] [nvarchar](max) NULL,
	[slug] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK__Album__3213E83F7432E7B9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 3/30/2022 4:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[thumbnail] [nvarchar](max) NULL,
	[slug] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Artist] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/30/2022 4:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[slug] [nvarchar](max) NULL,
	[thumbnail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Category__3213E83F2B8988EE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikeTable]    Script Date: 3/30/2022 4:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [bigint] NOT NULL,
	[songid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LyricTable]    Script Date: 3/30/2022 4:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LyricTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[songid] [int] NULL,
	[lyrics] [nvarchar](max) NULL,
	[userid] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK__LyricTab__3213E83F25D7C493] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Music]    Script Date: 3/30/2022 4:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Music](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[audio] [nvarchar](max) NULL,
	[thumbnail] [nvarchar](max) NULL,
	[slug] [nvarchar](max) NULL,
	[artist_name] [nvarchar](max) NULL,
	[cat_id] [int] NULL,
	[public_year] [varchar](10) NULL,
	[artist_id] [int] NULL,
	[viewcount] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK__Music__3213E83F74C3A55F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResetPassword]    Script Date: 3/30/2022 4:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResetPassword](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[selector] [nvarchar](max) NULL,
	[token] [nvarchar](max) NULL,
	[useremail] [nvarchar](max) NOT NULL,
	[expires] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ResetPassword] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 3/30/2022 4:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[displayedName] [nvarchar](100) NULL,
	[avatar] [nvarchar](max) NULL,
	[role] [nvarchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Album] ON 

INSERT [dbo].[Album] ([id], [title], [artist_id], [cat_id], [thumbnail], [slug], [created_at], [updated_at]) VALUES (2, N'Tuyển tập những bài hát hay nhất của Ti Ti', 10, NULL, N'defaultalbum.jpg', N'tuyen-tap-nhung-bai-hat-hay-nhat-cua-ti-ti-43', CAST(N'2022-03-28T17:33:02.7826695' AS DateTime2), NULL)
INSERT [dbo].[Album] ([id], [title], [artist_id], [cat_id], [thumbnail], [slug], [created_at], [updated_at]) VALUES (3, N'Tuyển tập những bài hát hay nhất của Osad', 2, NULL, N'defaultalbum.jpg', N'tuyen-tap-nhung-bai-hat-hay-nhat-cua-osad-15', CAST(N'2022-03-28T17:33:02.7826695' AS DateTime2), NULL)
INSERT [dbo].[Album] ([id], [title], [artist_id], [cat_id], [thumbnail], [slug], [created_at], [updated_at]) VALUES (4, N'Tuyển tập những bài hát hay nhất của Monstar', 7, NULL, N'defaultalbum.jpg', N'tuyen-tap-nhung-bai-hat-hay-nhat-cua-monstar-28', CAST(N'2022-03-28T17:33:02.7826695' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Album] OFF
GO
SET IDENTITY_INSERT [dbo].[Artist] ON 

INSERT [dbo].[Artist] ([id], [title], [thumbnail], [slug], [created_at], [updated_at]) VALUES (2, N'Osad', N'163428967237620177.440500226385.jpg', N'osad-f63bfe605cf4', CAST(N'2022-03-28T17:31:37.2649162' AS DateTime2), NULL)
INSERT [dbo].[Artist] ([id], [title], [thumbnail], [slug], [created_at], [updated_at]) VALUES (3, N'Masew', N'163428693951794442.06733535723.jpg', N'masew-422e1679f8b1', CAST(N'2022-03-28T17:31:37.2649162' AS DateTime2), NULL)
INSERT [dbo].[Artist] ([id], [title], [thumbnail], [slug], [created_at], [updated_at]) VALUES (4, N'Sting', N'163428693951794442.06733535723.jpg', N'sting-597c454d8770', CAST(N'2022-03-28T17:31:37.2649162' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Artist] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [title], [slug], [thumbnail]) VALUES (1, N'Nhạc Bolero', N'nhac-bolero', N'the-loai-tru-tinh.jpg')
INSERT [dbo].[Category] ([id], [title], [slug], [thumbnail]) VALUES (2, N'Nhạc Rap', N'nhac-rap', N'the-loai-nhac-rap.jpg')
INSERT [dbo].[Category] ([id], [title], [slug], [thumbnail]) VALUES (4, N'Nhạc trẻ', N'nhac-tre', N'the-loai-nhac-tre.jpg')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[LikeTable] ON 

INSERT [dbo].[LikeTable] ([id], [userid], [songid]) VALUES (7, 3049136295309506, 186)
SET IDENTITY_INSERT [dbo].[LikeTable] OFF
GO
SET IDENTITY_INSERT [dbo].[LyricTable] ON 

GO
SET IDENTITY_INSERT [dbo].[LyricTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Music] ON 

INSERT [dbo].[Music] ([id], [title], [audio], [thumbnail], [slug], [artist_name], [cat_id], [public_year], [artist_id], [viewcount], [created_at], [updated_at]) VALUES (1, N'Lâng Lâng', N'langlang.mp3', N'16343047379993870.99188848035.jpg', N'lang-lang.2681aea4d9c3', N'Osad', 4, N'2021', 2, 0, CAST(N'2022-03-29T07:55:47.7138178' AS DateTime2), NULL)
INSERT [dbo].[Music] ([id], [title], [audio], [thumbnail], [slug], [artist_name], [cat_id], [public_year], [artist_id], [viewcount], [created_at], [updated_at]) VALUES (4, N'Hạnh Phúc Là Khi...', N'hanhphuclakhi....mp3', N'hanhphuclakhi....jpg', N'hanh-phuc-la-khi.c056f24e3703', N'Jun Phạm', 4, N'2021', 9, 0, CAST(N'2022-03-29T07:55:47.7138178' AS DateTime2), NULL)
INSERT [dbo].[Music] ([id], [title], [audio], [thumbnail], [slug], [artist_name], [cat_id], [public_year], [artist_id], [viewcount], [created_at], [updated_at]) VALUES (5, N'Dại', N'dai.mp3', N'dai.jpg', N'dai.f1f6d298745a', N'Bùi Trường Linh', 4, N'2021', 11, 1, CAST(N'2022-03-29T07:55:47.7138178' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[Music] OFF
GO
SET IDENTITY_INSERT [dbo].[ResetPassword] ON 

INSERT [dbo].[ResetPassword] ([id], [selector], [token], [useremail], [expires]) VALUES (1, N'c2d11b2bd56001afb7', N'$2a$11$zOXatoQNEAVkzBkw40DVNOkJo/xdPuAL.CfpNydfvHws2vXmScJkK', N'daike0770@gmail.com', N'600360')
SET IDENTITY_INSERT [dbo].[ResetPassword] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTable] ON 

INSERT [dbo].[UserTable] ([id], [username], [email], [password], [displayedName], [avatar], [role], [created_at], [updated_at]) VALUES (3049136295309495, N'', N'', NULL, N'kei', N'0a81b190fa340305a8daa46b1635479370857.jpg', N'user', CAST(N'2022-03-28T16:33:56.1272369' AS DateTime2), CAST(N'2022-03-30T08:49:54.9861290' AS DateTime2))
INSERT [dbo].[UserTable] ([id], [username], [email], [password], [displayedName], [avatar], [role], [created_at], [updated_at]) VALUES (3049136295309497, N'hello1234', N'', N'$2b$10$6KHnjnKDezSE8XLWmoGzHuaYdltDSfWzRTyMAL86G6h266JKMSASq', N'kei', N'163547934613898071.61820867803.jpg', N'admin', CAST(N'2022-03-28T16:33:56.1272369' AS DateTime2), CAST(N'2022-03-30T08:49:54.9861290' AS DateTime2))
INSERT [dbo].[UserTable] ([id], [username], [email], [password], [displayedName], [avatar], [role], [created_at], [updated_at]) VALUES (3049136295309505, N'kei1234', N'artificialintelligence0105@gmail.com', N'$2b$10$ReEdEokIoXsBLB2EwvJxxe7lImPl0wY4uRuhSI3ibhx5INjtB4z96', N'kei', N'163547934613898071.61820867803.jpg', N'user', CAST(N'2022-03-28T16:33:56.1272369' AS DateTime2), CAST(N'2022-03-30T08:49:54.9861290' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserTable] OFF
GO
ALTER TABLE [dbo].[Album] ADD  CONSTRAINT [DF__Album__created_a__3A81B327]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Artist] ADD  CONSTRAINT [DF__Artist__created___36B12243]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[LyricTable] ADD  CONSTRAINT [DF__LyricTabl__creat__300424B4]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Music] ADD  CONSTRAINT [DF__Music__created_a__2C3393D0]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[UserTable] ADD  DEFAULT ('Anonymous') FOR [displayedName]
GO
ALTER TABLE [dbo].[UserTable] ADD  DEFAULT ('defaultavatar.png') FOR [avatar]
GO
ALTER TABLE [dbo].[UserTable] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[UserTable] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Album]  WITH NOCHECK ADD  CONSTRAINT [FK_Album_Artist] FOREIGN KEY([artist_id])
REFERENCES [dbo].[Artist] ([id])
GO
ALTER TABLE [dbo].[Album] NOCHECK CONSTRAINT [FK_Album_Artist]
GO
ALTER TABLE [dbo].[Album]  WITH NOCHECK ADD  CONSTRAINT [FK_Album_Category] FOREIGN KEY([cat_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Album] NOCHECK CONSTRAINT [FK_Album_Category]
GO
ALTER TABLE [dbo].[LikeTable]  WITH NOCHECK ADD  CONSTRAINT [FK_LikeTable_Music] FOREIGN KEY([songid])
REFERENCES [dbo].[Music] ([id])
GO
ALTER TABLE [dbo].[LikeTable] NOCHECK CONSTRAINT [FK_LikeTable_Music]
GO
ALTER TABLE [dbo].[LikeTable]  WITH NOCHECK ADD  CONSTRAINT [FK_LikeTable_UserTable] FOREIGN KEY([userid])
REFERENCES [dbo].[UserTable] ([id])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[LikeTable] CHECK CONSTRAINT [FK_LikeTable_UserTable]
GO
ALTER TABLE [dbo].[LyricTable]  WITH NOCHECK ADD  CONSTRAINT [FK_LyricTable_Music] FOREIGN KEY([id])
REFERENCES [dbo].[Music] ([id])
GO
ALTER TABLE [dbo].[LyricTable] NOCHECK CONSTRAINT [FK_LyricTable_Music]
GO
ALTER TABLE [dbo].[LyricTable]  WITH NOCHECK ADD  CONSTRAINT [FK_LyricTable_UserTable] FOREIGN KEY([userid])
REFERENCES [dbo].[UserTable] ([id])
GO
ALTER TABLE [dbo].[LyricTable] NOCHECK CONSTRAINT [FK_LyricTable_UserTable]
GO
ALTER TABLE [dbo].[Music]  WITH NOCHECK ADD  CONSTRAINT [FK_Music_Artist1] FOREIGN KEY([artist_id])
REFERENCES [dbo].[Artist] ([id])
GO
ALTER TABLE [dbo].[Music] NOCHECK CONSTRAINT [FK_Music_Artist1]
GO
ALTER TABLE [dbo].[Music]  WITH NOCHECK ADD  CONSTRAINT [FK_Music_Category1] FOREIGN KEY([cat_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Music] NOCHECK CONSTRAINT [FK_Music_Category1]
GO
